<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col m4">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="<%= asset_path @profile.image %>">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">
          <%= @profile.full_name %>
          <i class="material-icons right">more_vert</i>
        </span>
        <p><%= @profile.job_title %></p>

        <!-- <p><a href="#">This is a link</a></p> -->
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Edit profile<i class="material-icons right">close</i></span>
        <%= render 'profiles/form' %>
      </div>
    </div>
  </div>
  <div class="col m4">
    <%= link_to 'Upgrade to Platinum', new_charge_path, class: 'btn' %>
  </div>
  <div class="col-md-4">

  <div class="stats">
    <a href="<%= following_user_path(@profile.user) %>" class="btn btn-lg btn-warning">
      <strong id="following" class="stat">
      Following 
        <span class="badge"><%= @profile.user.followed_users.count %></span> users
      </strong>

    </a>
    </p>
    <a href="<%= followers_user_path(@profile.user) %>" class="btn btn-lg btn-warning">
      <strong class="stat">
      Followed by
        <span class="badge" id="followers"><%= @profile.user.followers.count %></span> users
      </strong>

    </a>
  </div>
<br>
<div class="follow_unfollow">
<% unless current_user == @profile.user %>
  <div id="follow_form">
  <% if current_user.following?(@profile.user) %>
    <%= render 'unfollow' %>
  <% else %>
    <%= render 'follow' %>
  <% end %>
  </div>
<% end %>
</div>
</div>
</div>
</div>


