<h1>Meet Me</h1>
<p>Meetings made easy</p>



<div class="row">
	<div class="col m6">
		<% if user_signed_in? %>
			<h3>Meetings I've organised</h3>
			<%= render @my_meetings %>

			<%= current_user %>
			<h3>Meetings I'm invited to</h3>
			<%= render @meetings %>

		<% else %>
			<%= link_to 'Create meeting', new_user_session_path, class: 'btn' %>
		<% end %>
	</div>
	<div class="col m6">
		<% if user_signed_in? %>
			<div class="card">
				<div class="card-content">
					<%= render 'meetings/form' %>
				</div>
			</div>
		<% end %>
	</div>
</div>